
// Font Coiny
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
// Zdefiniowanie niestandardowego koloru
$primary: #EDFAE9;
:root{
    --bs-body-color: #EDFAE9 !important;
    --bs-body-bg: #88BDBC !important;
}
body{
    font-family: "Coiny", system-ui !important;
}

//KOLORY I BACKGROUNDY ----------------------------

.bg-gradient-uknow{
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
}
.bg-uknow{
    background-color: var(--bs-body-bg);
}
.text-gradient-uknow{
    color: rgb(37,78,88) !important;
}

//Buttony / Play ---------------------------------------------------

//button w jumbotronie home
.btn-uknow{
    width: 20%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: $primary;
    font-size: calc(0.75rem + 1vw) !important;
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
    box-shadow: 0 0 15px 0 #000000;
}
// Button All Games
.btn-outline-sm-uknow{
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #807d7d;
    &:hover{
        background: rgb(37,78,88);
        box-shadow: 0 0 15px 0 #464545;
        transition: .5s;
        color: $primary;
     
    }
}

//Search bar
.search-bar{
    width: 50%;
}
.search-bar .form-control::placeholder {

    color: #EDFAE9;
    opacity: 1; /* Ustawienie pełnej nieprzezroczystości dla lepszej widoczności */
}

//MENU --------------------------------------------------

//Tło Menu
.menu-uknow{
    height: 100%;
}
.bg-primary-uknow {
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
}
.fs-mobile-menu-uknow{
    font-size: calc(2rem + 1.5vw) !important;
}
//Hover ikon w menu
.icon-color-uknow{
    &:hover{
        i{
            color: #9AA6C3;
            transition: .3s;
            text-shadow: 0px 0px 20px rgba(154, 166, 195, 1);
        } 
    }
}
//Hover logo 
.logo-uknow:hover{
    border-radius: 50%;
    transition: .3s box-shadow;
    -webkit-box-shadow: -3px 1px 43px -10px rgba(154, 166, 195, 1);
    -moz-box-shadow: -3px 1px 43px -10px rgba(154, 166, 195, 1);
    box-shadow: -3px 1px 43px -5px rgba(154, 166, 195, 1);
}

//DASHBOARD --------------------------------------------
//dashboard menu

.dashboard-uknow{
    a{
        text-decoration: none; 
        color: $primary;
       
    }
}

//SEKCJA JUMBOTRON -------------------------------------

//Jumbotron z grami
.jumbotron-uknow{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.jumbotron-Title{
    width: 100%;
   box-shadow: 0 0 15px 0 #000000
}
.heart-jumbotron-uknow{
    &:hover{
        i{
            color: red;
            transition: .3s;
            text-shadow: 0px 0px 20px red;
        } 
    }
}
.carousel-item {
    justify-content: center;
    align-items: center;
}


// CARD - GAMES

//Style dla kart gier
.card {
    width: 18rem;
    margin: 10px;
    border: none !important;
    cursor: pointer;
}
.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card-img-uknow {
    width: 100%;
    height: 100%; /* Zachowanie proporcji obrazu */
    max-height: 160px; /* Maksymalna wysokość obrazu */
    object-fit: cover;
    &:hover{
        background-color: #494949;
        transition: .5s;
    }
}
.card-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card-uknow:hover .card-hover-overlay {
    opacity: 1;
}
.card-footer{
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
}

//Leaderboards --------------------------------------------------------

//Kontener na ranking
.leaderboard-container {
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #000000;
    max-width: 90%;
}

//Tytuł
.leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;
}
#leaderboards {
    tr > th {
        font-weight: normal;
    }
    //Top 1
    .table-warning {
        --bs-table-color: #000;
        --bs-table-bg: #eed200;
        --bs-table-border-color: #c9b100;
        --bs-table-striped-bg: #e6cb00;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #d8bf00;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #c4ad00;
        --bs-table-hover-color: #000;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }
    //Top 2
    .table-silver {
        --bs-table-color: #000;
        --bs-table-bg: #A7A7AD;
        --bs-table-border-color: #7d7d83;
        --bs-table-striped-bg: #96969b;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #8f8f96;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #838388;
        --bs-table-hover-color: #000;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }
    //Top 3
    .table-bronze {
        --bs-table-color: #000;
        --bs-table-bg: #a7824e ;
        --bs-table-border-color: #977547;
        --bs-table-striped-bg: #977547;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #80643c;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #86693f;
        --bs-table-hover-color: #000;
        color: var(--bs-table-color);
        border-color: var(--bs-table-border-color);
    }
}

//Game site ------------------------------------------------------------------------

.flex-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pełna wysokość widoku przeglądarki */
    width: 100%; /* Pełna szerokość */
}

.game-site-uknow {
    width: 90vmin; /* Ustawia szerokość na 50% mniejszego z wymiarów widoku (viewport) */
    height: 75vmin; /* Ustawia wysokość na 50% mniejszego z wymiarów widoku (viewport) */
    border: #000000 2px solid;
    box-shadow: 0 0 10px 0 #000000;
    background-color: #9AA6C3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


//Pomoc
.collapse{
    visibility: visible;
}
.accordion-button:not(.collapsed) {
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
    color: #EDFAE9 !important;
}
.faq-item {
    margin-bottom: 15px;
}
.faq-item h5 {
    margin-bottom: 10px;
}
.contact-form-container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(37,78,88);
    background: linear-gradient(90deg, rgba(37,78,88,1) 50%, rgba(17,45,50,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #EDFAE9 !important;
}
.contact-form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
     //Podstrona z odpaleniem gry
     .game-site-uknow {
        width: 70vmin; /* Ustawia szerokość na 50% mniejszego z wymiarów widoku (viewport) */
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .menu-uknow{
        height: 100vh;
    }

    //Podstrona z odpaleniem gry
    .game-site-uknow {
        width: 88vmin; /* Ustawia szerokość na 50% mniejszego z wymiarów widoku (viewport) */
    }
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
   
    .jumbotron-Title{
        width: 75%;
    }
    .search-bar{
        width: 25%;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .jumbotron-Title{
        width: 50%;
    }
 }

@import 'bootstrap/scss/bootstrap';